@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
body{
    width: 1200px;
}
header{
    
    width: 1510px;
    height: 1000px;
   
    background: rgba(255, 144, 14, 0.1);
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500px;
}
.nav-title{
    font-size: 30px;
    position: absolute;
   
}
nav ul{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 50px;
    margin-top: 40px;
    margin-left: 850px;
    
    
}

/* header banner */
.child-1{
    
    margin-left: 526px;
    margin-top: 150px;
   line-height: 33px;
}
.child-1 h1{
    align-items: left;
    

    font-weight: 600;
    font-size: 44px;
    line-height: 50px;
    
}
.child-1 button{
    margin-left: 246px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 136, 0);

}
.container img{
    position: absolute;
    height: 500px;
    width: 1300px;
    margin-top: 40px;
    margin-left: 100px;
}
/* section class quick features style */

.quick-features{
    display: flex;
    margin-top: 30px;
    margin-left: 150px ;
}
.images-features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.child-2{
    margin-left: 500px;
}

